<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
    <link rel="stylesheet" href="./stylesheets/materialize.css" media="screen,projection" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <link href='fullcalendar/core/main.css' rel='stylesheet' />
    <link href='fullcalendar/daygrid/main.css' rel='stylesheet' />
    <title>JS Scheduler</title>
</head>

<body>
    
    {{{body}}}

    <script src='fullcalendar/core/main.js'></script>
    <script src='fullcalendar/daygrid/main.js'></script>
    <script src="./js/materialize.js"></script>
    <script src="./js/style.js"></script>

</body>

</html>