<table class="all-employees">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Date/Time</th>
            <th>End Date/Time</th>
            <th></th>
        </tr>
    </thead>

    <tbody class="tbody">
        
    </tbody>
</table>

<script>
    var headerEl = document.getElementById('header')
    headerEl.textContent = "Schedule List";
</script>