<table class="all-employees">
    <thead>
        <tr>
            <td>Name</td>
            <td>Role</td>
            <td>Action</td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>EDIT DELETE</td>
        </tr>
        <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>EDIT DELETE</td>
        </tr>
        <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>EDIT DELETE</td>
        </tr>
    </tbody>
</table>