<table class="all-employees">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Action</td>
        </tr>
    </thead>

    <tbody class="tbody">
        <tr>
            <td>ERROR</td>
            <td>ERROR</td>
            <td>ERROR</td>
        </tr>
    </tbody>
</table>