<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>EDIT DELETE</td>
        </tr>
        <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>EDIT DELETE</td>
        </tr>
        <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>EDIT DELETE</td>
        </tr>
    </tbody>
</table>