<table class="edit-employees">
    <thead>
        <tr>
            <td>Assigned ID</td>
            <td>Name</td>
            <td></td>
        </tr>
    </thead>

    <tbody class="tbody-edit">
        <tr>
            <td>ERROR</td>
            <td>ERROR</td>
            <td>ERROR</td>
        </tr>
    </tbody>
</table>