<table class="edit-employees">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>

    <tbody id="tbody-edit">
    
    </tbody>
</table>

<script>
    var headerEl = document.getElementById('header')
    headerEl.textContent = "Employees List";
</script>