    <div class="grid-container">
    <header class="header">
        <h5 class="header--text">Daily Schedule</h5>
    </header>

    <aside class="top-left">
        <h5><i class="fab fa-node-js logo-icon"></i> Scheduler</h5>
    </aside>

    <aside class="left-side">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="menu-icon fas fa-calendar-week"></i>Schedule</div>
                <div class="collapsible-body">
                    <ul>
                        <li class="white-text">Link 1</li>
                        <li class="white-text">Link 2</li>
                        <li class="white-text">Link 3</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="menu-icon fas fa-users"></i>Employees</div>
                <div class="collapsible-body">
                    <ul>
                        <li class="white-text">Link 1</li>
                        <li class="white-text">Link 2</li>
                        <li class="white-text">Link 3</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="menu-icon fas fa-sliders-h"></i>Settings</div>
                <div class="collapsible-body">
                    <ul>
                        <li class="white-text">Link 1</li>
                        <li class="white-text">Link 2</li>
                        <li class="white-text">Link 3</li>
                    </ul>
                </div>
            </li>
        </ul>
    </aside>

    <main class="main-content">
        <div id='calendar'></div>
        
    </main>
    </div>
    <script>

    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid' ]
    });

    calendar.render();
    });

    </script>

