<div class="row">
    <div class="input-field col s12">
        <select id="employee-select"></select>
        <label>Employee</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <input type="text" id="start-date" class="datepicker">
        <label>Start Date</label>
    </div>
    <div class="input-field col s6">
        <input type="text" id="end-date" class="datepicker">
        <label>End Date</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <input type="text" id="start-time" class="timepicker">
        <label>Start Time</label>
    </div>
    <div class="input-field col s6">
        <input type="text" id="end-time" class="timepicker">
        <label>End Time</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <select id="color-option">
            <option value="" selected>Default Blue</option>
            <option value="#34495e">Blue (Wet Asphalt)</option>
            <option value="#c0392b">Red (Pomegranate)</option>
            <option value="#ef5777">Pink (Highlighter Pink)</option>
            <option value="#16a085">Green (Green Sea)</option>
            <option value="#8e44ad">Purple (Wisteria)</option>
            <option value="#d35400">Orange (Pumpkin)</option>
            <option value="#7f8c8d">Grey (Asbestos)</option>
            <option value="#1e272e">Black (Black Pearl)</option>
        </select>
        <label>Color Picker</label>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <button class="btn btn-custom waves-effect waves-light modal-close right" id="save-sched">save</button>
    </div>
</div>

<script>
    var headerEl = document.getElementById('header')
    headerEl.textContent = "New Schedule";
</script>