:root {
  --dark-blue: #22303d;
  --dark-grey: #707d89;
  --light-blue: #34495e;
  --light-grey: #ecf0f1;
  --events-blue: #3788d8;
  --gold: #f1c40f;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form.signup,
form.login {
  margin-top: 50px;
}

body {
  min-height: 100vh;
  background-color: var(--light-grey);
}

.grid-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px calc(100vh - 60px);
  grid-template-areas:
    "top-left top"
    "side main";
}

.header {
  grid-area: top;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0;
  padding: 0 24px;
}

.header--text {
  color: #000;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
}

.top-left {
  padding: 1rem;
  grid-area: top-left;
  background-color: var(--dark-blue);
  color: #fff;
}

.top-left h5 {
  margin: 0;
  font-weight: 300;
  margin-left: 5px;
  color: #fff;
}

.logo-icon {
  color: var(--gold);
}

.left-side {
  grid-area: side;
  background-color: var(--dark-blue);
}

.main-content {
  grid-area: main;
  border-top: 1.1px solid rgb(199, 199, 199);
  overflow-y: scroll;
  padding: 40px;
}

.collapsible{
  box-shadow: none;
  border: none;
  margin-top: 0;
}

.collapsible-header {
  border: none;
  border-top: 1px solid var(--light-blue);
  border-bottom: 1px solid var(--light-blue);
  background-color: var(--dark-blue);
  color: #fff;
  transition: ease-in-out .2s;
  font-weight: 200;
}

.collapsible-header:hover{
  background-color: var(--light-blue);
}

.collapsible-header .menu-icon {
  margin-right: 5px;
  font-size: 1.1rem;
  line-height: 1.55rem;
}

.collapsible-body{
  border: none;
  padding: 1rem 1rem 1rem 2rem;
}

.menu-link a{
  color: #fff;
  font-size: .93rem;
}

.menu-link a:hover{
  color: var(--gold);
}

.modal {
  padding: 24px;
}


.btn-custom {
  background-color: var(--events-blue);
}

.btn-custom:hover {
  background-color: var(--events-blue);
  opacity: .9;
}